{# templates/default/index.html.twig #}

{% extends 'base.html.twig' %}

{% block navbar %}
{% include 'navigation/def_nav.html.twig' %}
{% endblock %}

{% block body %}

   <div class = "container">
   
   <h1>Hello world!</h1>
   <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed vel lectus. Donec odio tempus molestie, porttitor ut, iaculis quis, sem. Aliquam id dolor. Vestibulum fermentum tortor id mi. Nam quis nulla. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Nunc tincidunt ante vitae massa. Maecenas aliquet accumsan leo. Curabitur sagittis hendrerit ante. Et harum quidem rerum facilis est et expedita distinctio. Sed convallis magna eu sem. Mauris tincidunt sem sed arcu. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo. Donec ipsum massa, ullamcorper in, auctor et, scelerisque sed, est. Nam quis nulla. Nullam eget nisl. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</p>

<p>Nullam rhoncus aliquam metus. Integer rutrum, orci vestibulum ullamcorper ultricies, lacus quam ultricies odio, vitae placerat pede sem sit amet enim. In sem justo, commodo ut, suscipit at, pharetra vitae, orci. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Mauris metus. Donec quis nibh at felis congue commodo. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. Vivamus luctus egestas leo. Mauris dolor felis, sagittis at, luctus sed, aliquam non, tellus. Fusce wisi. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Nam quis nulla. Maecenas aliquet accumsan leo.</p>

<p>Nullam justo enim, consectetuer nec, ullamcorper ac, vestibulum in, elit. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Duis pulvinar. Nullam lectus justo, vulputate eget mollis sed, tempor sed magna. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Aenean id metus id velit ullamcorper pulvinar. Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Etiam dictum tincidunt diam. Integer malesuada. Praesent dapibus. Aliquam in lorem sit amet leo accumsan lacinia. Aliquam ante. Aliquam erat volutpat. Aenean id metus id velit ullamcorper pulvinar.</p>

<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Cras elementum. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Praesent vitae arcu tempor neque lacinia pretium. Nullam sit amet magna in magna gravida vehicula. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nulla turpis magna, cursus sit amet, suscipit a, interdum id, felis. Nunc auctor. Vivamus luctus egestas leo. Nunc dapibus tortor vel mi dapibus sollicitudin. Fusce tellus. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Duis condimentum augue id magna semper rutrum. Aliquam erat volutpat. Mauris elementum mauris vitae tortor. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Phasellus rhoncus. Pellentesque pretium lectus id turpis. Sed elit dui, pellentesque a, faucibus vel, interdum nec, diam.</p>

<p>Pellentesque arcu. Duis condimentum augue id magna semper rutrum. Duis ante orci, molestie vitae vehicula venenatis, tincidunt ac pede. Maecenas sollicitudin. Proin in tellus sit amet nibh dignissim sagittis. Nulla non arcu lacinia neque faucibus fringilla. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Morbi scelerisque luctus velit. Etiam sapien elit, consequat eget, tristique non, venenatis quis, ante. Duis sapien nunc, commodo et, interdum suscipit, sollicitudin et, dolor. Aliquam ornare wisi eu metus. Vivamus luctus egestas leo. Duis risus. Phasellus rhoncus. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
   </div>

{% endblock %}