{% extends 'base.html.twig' %}

{% block adminbody %}
    <h3>Product Categories</h3>
    <br>
    <h5>Edit category</h5>
    <br>

      {{ include('product_category/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}